{% extends "base.html" %}
{% load static %}
{% block body %}
        <!-- Header -->
       {% include 'includes/hader.html' %}
        <!-- /Header -->

        <!-- page-title -->
        <div class="tf-page-title style-2">
            <div class="container-full">
                <div class="heading text-center">Delivery Return</div>
            </div>
        </div>
        <!-- /page-title -->
        <!-- main-page -->
        <section class="flat-spacing-25">
            <div class="container">
                <div class="tf-main-area-page tf-page-delivery">
                    <div class="box">
                        <h4>Delivery</h4>
                        <ul class="tag-list">
                            <li>All orders shipped with UPS Express.</li>
                            <li>Always free shipping for orders over US $250.</li>
                            <li>All orders are shipped with a UPS tracking number.</li>
                        </ul>
                    </div>
                    <div class="box">
                        <h4>Returns</h4>
                        <ul class="tag-list">
                            <li>Items returned within 14 days of their original shipment date in same as new condition will be eligible for a full refund or store credit.</li>
                            <li>Refunds will be charged back to the original form of payment used for purchase.</li>
                            <li>Customer is responsible for shipping charges when making returns and shipping/handling fees of original purchase is non-refundable.t</li>
                            <li>All sale items are final purchases.</li>
                        </ul>
                    </div>
                    <div class="box">
                        <h4>Help</h4>
                        <p>Give us a shout if you have any other questions and/or concerns.</p>
                        <p class="text_black-2">Email: contact@domain.com</p>
                        <p class="text_black-2">Phone: +1 (23) 456 789</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- /main-page -->
        <!-- Footer -->
      {% include 'includes/footer.html' %}
        <!-- /Footer -->

    </div>
    <!-- gotop -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;"></path>
        </svg>
    </div>
    <!-- /gotop -->
    <!-- toolbar-bottom -->
    <div class="tf-toolbar-bottom type-1150">
        <div class="toolbar-item">
            <a href="#toolbarShopmb" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft">
                <div class="toolbar-icon">
                    <i class="icon-shop"></i>
                </div>
                <div class="toolbar-label">Shop</div>
            </a>
        </div>

        <div class="toolbar-item">
            <a href="#canvasSearch" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft">
                <div class="toolbar-icon">
                    <i class="icon-search"></i>
                </div>
                <div class="toolbar-label">Search</div>
            </a>
        </div>
        <div class="toolbar-item">
            <a href="#login" data-bs-toggle="modal">
                <div class="toolbar-icon">
                    <i class="icon-account"></i>
                </div>
                <div class="toolbar-label">Account</div>
            </a>
        </div>
        <div class="toolbar-item">
            <a href="#">
                <div class="toolbar-icon">
                    <i class="icon-heart"></i>
                    <div class="toolbar-count">0</div>
                </div>
                <div class="toolbar-label">Wishlist</div>
            </a>
        </div>
        <div class="toolbar-item">
            <a href="#shoppingCart" data-bs-toggle="modal">
                <div class="toolbar-icon">
                    <i class="icon-bag"></i>
                    <div class="toolbar-count">1</div>
                </div>
                <div class="toolbar-label">Cart</div>
            </a>
        </div>
    </div>
    <!-- /toolbar-bottom -->

    <!-- modalDemo -->
 {% include 'includes/modalDemo.html' %}
    <!-- /modalDemo -->

    <!-- canvasSearch -->
 {% include 'includes/canvasSearch.html' %}
    <!-- /canvasSearch -->

    <!-- toolbarShopmb -->
 {% include 'includes/toolbarShopmb.html' %}
    <!-- /toolbarShopmb -->

    <!-- modal login -->
 {% include 'includes/modal_login.html' %}
    <!-- /modal login -->

    <!-- shoppingCart -->
 {% include 'includes/shoppingCart.html' %}
    <!-- /shoppingCart -->

    <!-- modal compare -->
 {% include 'includes/modalcompare.html' %}
    <!-- /modal compare -->

    <!-- modal quick_add -->
 {% include 'includes/quick_add.html' %}
    <!-- /modal quick_add -->

    <!-- modal quick_view -->
 {% include 'includes/quick_view.html' %}
    <!-- /modal quick_view -->

    <!-- modal find_size -->
 {% include 'includes/find_size.html' %}
    <!-- /modal find_size -->

{% endblock %}
